*.dat
*.mti
*.mpf
*.wlf
*.dbs
*.vhd
*.prw
*.psm
*.qtl
*.qpg
*.qdb
*_info
*_vmake
*.txt
/RTL/Multipliers/Carry_Save_Multiplier/work/*
/RTL/Multipliers/Wallace_Tree_Multiplier/work/*
/RTL/Processing_Element/work/*
/RTL/Matrix_Multiply_Unit/work/*
/RTL/Accumulators/work/*
